* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: inherit;
}

iframe {
	display: none;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
	font-family: "Open Sans", sans-serif;
}
